<%
=begin%>
 <h1>Editing sub division</h1>

<%= render "form", sub_division: @sub_division %>

<br>

<div>
  <%= link_to "Show this sub division", @sub_division %> |
  <%= link_to "Back to sub divisions", sub_divisions_path %>
</div> 
<%
=end%>
