<p style="color: green"><%= notice %></p>

<h1>Meters</h1>

<div id="meters">
  <% @meters.each do |meter| %>
    <%= render meter %>
    <p>
      <%= link_to "Show this meter", disco_region_division_sub_division_meter_path(@disco,@region,@division,@sub_division,meter) %>
    </p>
  <% end %>
</div>

<%= link_to "New meter", new_disco_region_division_sub_division_meter_path(@disco,@region,@division,@sub_division) %>
